body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

#page-container {
    min-height: 100%;
    pointer-events: none;
}

#logo-container {

}

html, body {
    height: 100%;
    margin: 0;
}

#logo {
    position: absolute;
    width: 700px;
    /*height: 200px;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin: -100px 0 0 -250px;*/

    /*width: 600px; !* Need a specific value to work *!*/

    /*-webkit-filter: drop-shadow(12px 12px 7px rgba(255, 255, 255, 0.5));*/
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));

}

#canvas {
    /*width: 100%;*/
    /*margin-top: 200px;*/
    /*height: 400px;*/
    position: fixed;
    /*width: 1024px;*/
    /*height: 1024px;*/
    left: 0;
    top: 0;

    object-position: center center;
    object-fit: cover;

    opacity: 0.6;

    /*height: 100%;*/
    /*width: 100%;*/
    /*z-index: -99;*/
}

#debug {
    color: white;
}