body {
  background-color: black;
  //display: flex;
  flex-direction: column;
}

#page-container {
  //min-height: 100%;
  pointer-events: none;
  //border: 1px solid red;
  margin: 20px;
}

* {
  pointer-events: none;
}

#canvas {
  pointer-events: all;
}

html, body {
  //height: 100%;
  margin: 0;
}

#image-container {
  margin: 0 auto; // Center
  border: 2px solid white;
  border-bottom: 25px solid white;
  border-radius: 5px;
  max-width: 800px;
  @media only screen and (max-width: 600px) {
    max-height: 300px;
  }
  height: 600px;
  position: relative;
}

#logo {
  z-index: 15;
  //position: absolute;
  width: 100%;
  max-width: 600px;
  @media only screen and (max-width: 600px) {
    max-width: 400px;
  }
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.8));
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}

#debug {
  color: white;
}

body, a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

#content {
  text-align: center;
}

h4 {
  font-size: 200%;
  margin-bottom: 0px;
}

h5 {
  margin-top: 0;
}

#footer {
  margin-top:60px;
}

#footer a {
  //text-decoration: none;
  pointer-events: all;
  margin: 6px;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  -webkit-transform: rotate(-90deg);

  text-decoration: none;
}

#footer a:hover {
  //text-decoration: underline;
  opacity: .7;
}
